/* *{
    background-color: rgb(187, 130, 55);
} */
.filters{
    /* background-color: blueviolet; */
    text-align: center;
    /* margin-left: 200px; */
}
.sortfltr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    display: flex;
    justify-content: center;
}
.inp{
    
   
    color: black;
    background-color: rgb(236, 228, 228);
    border-radius: 5px;

}
.inp::placeholder{
    color: rgb(32, 31, 31);
}
.sort{
    color:black;
    background-color: rgb(158, 148, 148);
    border-radius: 8px;
    
}